<h2>{{title}}</h2>

<div *ngIf="id">
    <div *ngFor="let field of fields">
    <form #f="ngForm" (ngSubmit)="submitField(field)">
        <input
        type="text"
        [name]="field.name"
        [placeholder]="field.placeholder"
        [(ngModel)]="field.value"
        required
        >
        <button type="submit" [disabled]="!f.valid">
        Modifier {{field.name}}
        </button>
    </form>
    </div>
</div>

<form *ngIf="!id" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div *ngFor="let field of fields">

    <input
        type="text"
        [name]="field.name"
        [placeholder]="field.placeholder"
        [(ngModel)]="field.value"
        required
    >
  </div>

  <button type="submit" [disabled]="!form.valid">
    {{buttonText}}
  </button>

</form>