div {
    max-width: 600px;
    margin: 20px ;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 8px 0;
    font-size: 16px;
}

.Voitures {
    background: white;
    padding: 10px 15px;
    margin: 6px 0;
    border-radius: 6px;
    border-left: 4px solid #3498db;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

button {
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.retour{
    background-color: #3498db;
    color: white;
}

.retour:hover{
    background-color: #1d5377;
}
